* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgb(179, 218, 255);
}

#container {
  background-color: rgb(100, 200, 300);;
  position: relative;
  width: 600px;
  height: 300px;
  border: solid 5px rgb(61, 61, 61);;
  margin: auto;
  margin-top: 200px;
}

#panel {
  position: absolute;
  background-color: rgb(100, 200, 300);
  padding: 1%;
  top: 3%;
  left: 2%;
  width: 50%;
  height: 90%;
  display: grid;
  grid-template: 
    'Q W E'
    'A S D'
    'Z X C'
}

#Q {grid-area: 'Q'}
#W {grid-area: 'W'}
#E {grid-area: 'S'}
#A {grid-area: 'A'}
#S {grid-area: 'S'}
#D {grid-area: 'D'}
#Z {grid-area: 'Z'}
#X {grid-area: 'X'}
#C {grid-area: 'C'}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin: 3%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(180, 50, 100);
  box-shadow: 3px 3px 3px rgb(70, 69, 69);
  font-weight: bold;
  font-size: 22px;
}

.drum-pad:hover {
  background-color: rgb(220, 300, 170);
}

.drum-pad:active {
  background-color: rgb(102, 219, 112);
}

.active {
  background-color: rgb(102, 219, 112);
}

#bank {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  position: absolute;
  top: 15%;
  right: 17%;
  outline: none;
  font-weight: bold;
}

#bank button {
  width: 100%;
  padding: 10%;
  background-color: rgb(220, 300, 170);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 3px 3px rgb(70, 69, 69);
  font-weight: bold;
}

#bank button:hover {
  background-color: rgb(102, 219, 112);
}

#bank button:active {
  background-color: rgb(180, 50, 100);
}

#display {
  position: absolute;
  top: 50%;
  right: 10%;
  background-color: rgb(220, 300, 170);
  border-radius: 5px;
  width: 25%;
  height: 20%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px rgb(70, 69, 69);
}